	<p>
		<h2><%= @ticket.id %>: <%= @ticket.title %></h2>
	</p>

	<p>
		<h3>Ticket Description:</h3>
		<%= @ticket.body %>
	</p>


	<h3>Comments</h3><br>
	<%= @ticket.comments.each do |comment| %>
		<p>
			<strong>
			<%= comment.user %>
				commented at
			<%=  comment.created_at %>
			</strong><br>
			<%= comment.body %>
		</p>
	<% end %>

	<h3>Add Comment</h3>
	<!--need to add _id to table -->
	<%= form_for ([@ticket, @ticket.comments.build]) do |c| %>
		<p>
			<%= c.label :body %><br>
			<%= c.text_area :body %>
		</p>

		<p>
			<%= c.submit %>
		</p>
	<% end %>




<%= link_to 'Back', {:action => 'index'} %>